{
  "extends": "@antfu",
  "overrides": [
    {
      "files": [
        "src/composables/types/scheme.ts",
        "src/composables/types/client.ts",
        "*.spec.js"
      ],
      "rules": {
        "eslint-comments/no-unlimited-disable": "off"
      }
    }
  ]
}